sample_flow_node_red.json
[{"id":"81991944.dd2f98","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5a840dc6.7c27c4","type":"inject","z":"81991944.dd2f98","name":"bulb 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"devices/bulb/1","payload":"25","payloadType":"str","x":140,"y":120,"wires":[["f1ee9e69.a29e"]]},{"id":"7fb32ab8.fd2274","type":"inject","z":"81991944.dd2f98","name":"speaker 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"devices/speaker/1","payload":"10","payloadType":"str","x":150,"y":180,"wires":[["f1ee9e69.a29e"]]},{"id":"f1ee9e69.a29e","type":"mqtt out","z":"81991944.dd2f98","name":"pub","topic":"","qos":"","retain":"","broker":"b7c816a0.e897a8","x":460,"y":140,"wires":[]},{"id":"6196a5ba.36893c","type":"mqtt in","z":"81991944.dd2f98","name":"bulb sub","topic":"devices/bulb/#","qos":"2","datatype":"auto","broker":"b7c816a0.e897a8","x":120,"y":340,"wires":[["b1d851e7.a19be"]]},{"id":"bafc110c.6fca7","type":"mqtt in","z":"81991944.dd2f98","name":"speaker sub","topic":"devices/speaker/1","qos":"2","datatype":"auto","broker":"b7c816a0.e897a8","x":120,"y":400,"wires":[["b1d851e7.a19be"]]},{"id":"b1d851e7.a19be","type":"debug","z":"81991944.dd2f98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":480,"y":380,"wires":[]},{"id":"9f96dedf.8c1cf","type":"inject","z":"81991944.dd2f98","name":"speaker 2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"devices/speaker/2","payload":"1","payloadType":"str","x":140,"y":240,"wires":[["f1ee9e69.a29e"]]},{"id":"b7c816a0.e897a8","type":"mqtt-broker","name":"broker","broker":"192.168.1.2","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]